<div class="list">
  <h1>Game Day Essentials</h1>
  <mat-selection-list [multiple]="false">
    <div class="mat-list-option-cover">
      <mat-list-option
        *ngFor="let task of tasks"
      >
        <div class="d-flex justify-content-between">

          <span class="task-title">
            {{ task.title }}
          </span>
            <span class="task-complete">
            {{ task.complete }}
          </span>
          <span class="task-date">
            {{ task.date | date: "mediumDate" }}
          </span>
        </div>
        <span class="task-comment">
          {{ task.comment}}
        </span>
      </mat-list-option>
    </div>
  </mat-selection-list>
</div>
