.list h1 {
  font-weight: 500;
  padding: 10px 0px 0 12px;
  background: #f3f5fa;
  color: hsl(208, 77%, 15%);
  margin: 0px;
  text-align: center;
}

.list {
  background: #f3f5fa;
  margin-bottom: 65px;
}

mat-selection-list {
  height: 100%;
}

.mat-list-option-cover {
  padding: 15px;
}

mat-list-option {
  background-color: white;
  border-radius: 3px;
  margin: 10px 0 10px 0;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.mat-list-item {
  height: 70px !important;
  box-shadow: 5px 5px #e8e8e8;
  margin-bottom: 15px;
}

.task-date{
  color: rgb(150, 149, 149);
  float: right;
}

.task-title{
color:hsl(208, 77%, 15%) ;
}

.task-comment{
color: hsl(208, 77%, 35%);
}
