h1{
  padding-left: 30px;
  padding-top: 20px;
}
li{
  list-style: none;
}
.team-listing{
  max-width: 100%;
  display: grid;
  grid-template-columns: 50px  100px 35px ;
  grid-template-rows: 1fr 1fr;
  padding-left: 0px;
  margin-left: 20px;


}

.updated{
  padding-left: 20px;
  line-height: 2em;
  margin-bottom: 30px;
   color: rgba(150, 149, 149, 0.90);


}

ul li{
  display: inline-table;
}
ul{
  display: inline-table;
  margin-left: -10px;
}
.baseball-container{
  color: hsl(208, 77%, 15%);
  background-color: rgb(243,245,250);
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 10px;
  max-width: fit-content;
}
.soccer-container{
  color: hsl(208, 77%, 15%);
  background-color: rgb(243,245,250);
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 10px;
}
.score{
  text-align: center;
}
