.add-task {
  padding: 10px 12px 0 12px;
}

h1 {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 0%, rgb(9,42,70) 100%);
  color: hsl(43,24%,94%);
  text-align: center;
  padding: 8px;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  margin-top: 0px;
}

button{
  display: block;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  font-size: 13.5px;
  margin-top: 7px;
  width: 80px;
  color:  hsl(208, 77%, 15%);
}

mat-form-field{
  display: block;
}

.add-task{
  height: 250px;
}

.seating{
  padding-bottom:20px;
}
