<app-add-seating></app-add-seating>
<div class="header">
  <h1>Add Task</h1>
</div>
<div class="add-task">
  <div class="content">
    <form [formGroup]="taskForm" (submit)="addTask()">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput placeholder="  Title" formControlName="title" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input class="datepicker" matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Comments</mat-label>
        <textarea
          matInput
          placeholder="Comments"
          formControlName="comment"
        ></textarea>
      </mat-form-field>
      <button
        [disabled]="taskForm.invalid"
        type="submit"
        mat-raised-button
        color="primary"
      >
        Submit
      </button>
    </form>
  </div>
</div>
