.add-task {
  padding: 10px 12px 0 12px;
}
.header {
  background: #f3f5fa;
}

.header h1 {
  padding: 20px 12px 20px 12px;
}
button{
display: block;

}
mat-form-field{
  display: block;
}
.add-task{
  height: 250px;
}
.datepicker{
  
}
