.add-task {
  padding: 10px 12px 0 12px;
}

h1 {

  color:hsl(208, 77%, 15%) ;
  background-color:   #f3f5fa;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  border-radius: 3px;
}
button{
display: block;

}
mat-form-field{
  display: block;
}
.add-task{
  height: 250px;
}
