.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: white;
}

button {
  margin: 10px;
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  margin-top: 0px;
}
