
  li{
    list-style: none;
    padding-top: 10px;
    text-align: center;
    font-weight: 500;
    font-size: medium;
  }

  span{
    color: hsl(208, 77%, 35%);
    line-height: 2em;
    text-align: center;
  }

  ul{
    padding-left: 10px;
    padding-right: 10px;
  }

.youtube{
  width: 18%;
  padding-top: 5px;
  padding-bottom: 15px;
}

h1{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgb(243,245,250);
    border-radius:3px;
    padding-left: 12.5px;
}
