
  li{
    list-style: none;
    padding-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 500;
    font-size: medium;
  }
  span{
    color: hsl(208, 77%, 35%);
    line-height: 2em;
    text-align: center;

  }
  ul{
    padding-left: 10px;
    padding-right: 10px;
  }
