
<div class="video-1-container">
  <iframe width="560" height="315"
    src="https://www.youtube.com/embed/vfhGmT0y9mg"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write;
    encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
</div>
<div class="video-2-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/xUAGXlZ2JIY" title="YouTube video player"
  frameborder="0" allow="accelerometer; autoplay; clipboard-write;
   encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="video-3-container">
  <iframe width="560" height="315"
    src="https://www.youtube.com/embed/MLVnGGzgTGc"
    title="YouTube video player" frameborder="0" allow="accelerometer;
    autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
</div>
{{sportData.tvhighlights.strVideo}}
<div>

</div>
