.video-1-container{
  position: relative;
  width: 98%;
  padding-bottom: 56%;
  height: 0;
  margin-bottom: 35px;

}
.video-1-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 97.5%;
  height: 100%;
  padding-left: 10px;


}
.video-2-container{
  position: relative;
  width: 98%;
  padding-bottom: 56%;
  height: 0;
  margin-bottom: 35px;
}

.video-2-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 97.5%;
  height: 100%;
  padding-left: 10px;
}

.video-3-container{
  position: relative;
  width: 98%;
  padding-bottom: 56%;
  height: 0;
  margin-bottom: 35px;
}
.video-3-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 97.5%;
  height: 100%;
  padding-left: 10px;
  padding-bottom: 30px;
}

h1{
    color: hsl(208, 77%, 15%);
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgb(243,245,250);
    border-radius:3px;
    padding-left: 12.5px;
  }

